/*黑色*/
$black: #1a1a1a;
/*浅黑*/
$lightBlack: #444;
/*灰色*/
$gray: #8590a6;
/*浅灰*/
$lightGray: #eee;
/*白色*/
$white: #fff;
/*背景色*/
$bg: #f6f6f6;
/*边框*/
$border: #ebebeb;
/*蓝色*/
$blue: #0084ff;
/*鼠标hover时蓝色*/
$hoverBlue: #175199;
/*红色*/
$red: #f36;
/*橙色*/
$orange: #f76447;

