{%extends 'layout.html'%}

{%block content%}
  {%for content in contents%}
  <ul class="article-list">
    <li>
      <div class="img-wrapper">
        <a href="/detail?contentid={{content.id}}"><img src="http://image.woshipm.com/wp-files/2019/04/R41KoFU9OHqN7PUoVaPL.png!/both/215x140" alt=""></a>
        <div class="tag">微信小程序</div>
      </div>
      <div class="right-wrapper">
        <h1><a href="/detail?contentid={{content.id}}" class="title">{{content.title}}</a></h1>
        <p class="desc">{{content.description}}</p>
        <div class="footer clear-fix">
          <div class="user-info">
            <a href="" class="avatar-link"><img class="avatar" src="https://static.woshipm.com/passportAvatar_20170531_102311.jpg?imageView2/1/w/80" alt=""></a>
            <div class="username"><a href="">{{content.user.username}}</a></div>
            <div class="time">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</div>
          </div>
          <div class="article-info">
            <span class="views"><i class="i-eye"></i>{{content.views}}</span>
            <span><i class="i-comment"></i>{{content.comments.length}}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  {% endfor%}
  <div class="pager">
  <ul class="clear">

    <li class="previous">

      {%if page <= 1%}
      <span>没有上一页了</span>
      {%else%}
      <a href="/?category={{category}}&page={{page-1}}">上一页</a>
      {%endif%}

    </li>

    {%if pages > 0%}
    <li>
      <strong>{{page}} / {{pages}}</strong>
    </li>
    {% else %}
    <li>空空如也~</li>
    {%endif%}

    <li class="next">

      {%if page >= pages%}
      <span>没有下一页了</span>
      {%else%}
      <a href="/?category={{category}}&page={{page+1}}">下一页</a>
      {%endif%}

    </li>

  </ul>
</div>
{%endblock%}