<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>行走的仆累</title>
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
  <link href="/public/css/layout.css" rel="stylesheet" type="text/css">
  <link href="/public/css/index.css" rel="stylesheet" type="text/css">
  <link href="/public/css/detail.css" rel="stylesheet" type="text/css">
  <script src="/public/js/jquery-1.12.4.min.js"></script>
  <script src="/public/js/index.js"></script>
</head>

<body>

<header>
  <div class="header-inner clear-fix">
    <!--<h1><a href="" class="logo-link"><img id="logo" src="/public/images/favicon.png" alt="logo"></a></h1>-->
    <nav>
      <a href="/">首页</a>
      <a href="">归档</a>
      <a href="">关于我</a>
    </nav>
    <div class="search-wrapper">
      <div class="input-wrapper">
        <input type="text" placeholder="搜搜感兴趣的文章呗~">
        <button><i class="i-serach"></i></button>
      </div>
    </div>
    <button class="btn-search">搜索</button>
    <div class="right-header">
      <a href=""><i class="i-write"></i>写博客</a>
      {% if userInfo._id %}
      <a href="javascript:;" id="logout">退出</a>
      {% endif %}
      {% if userInfo.isAdmin %}
      <a href="/admin">后台管理系统</a>
      {% endif %}
    </div>
  </div>
</header>

<!--<nav>-->
<!--<div class="menu">-->
<!--{%if category == ''%}-->
<!--<a href="/" class="focus">首页</a>-->
<!--{%else%}-->
<!--<a href="/">首页</a>-->
<!--{%endif%}-->

<!--{%for cate in categories%}-->
<!--{%if category == cate.id%}-->
<!--<a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>-->
<!--{%else%}-->
<!--<a href="/?category={{cate.id}}">{{cate.name}}</a>-->
<!--{%endif%}-->
<!--{% endfor%}-->
<!--</div>-->
<!--</nav>-->


<main class="clear-fix">
  <div class="mainLeft">
    {%block content%}{%endblock%}
  </div>
  <div class="mainRight">

    {% if userInfo._id %}
    <div class="rightBox" id="userInfo">
      <div class="title"><span>用户信息</span></div>
      <p><span class="colDark username">您好，{{userInfo.username}}</span></p>
      {% if userInfo.isAdmin %}
      <p><span class="colDark">向管理员致敬，管理员万岁！</span></p>
      {% else %}
      <p><span class="colDark">热泪盈眶地欢迎您的大驾光临！</span></p>
      {% endif %}
    </div>
    {% else %}
    <!--登录-->
    <div class="rightBox" id="loginBox">
      <div class="title"><span>登录</span></div>
      <div class="line"><span class="colDark"></span><input name="username" type="text"
                                                            placeholder="请输入您的用户名"/><em></em></div>
      <div class="line"><span class="colDark"></span><input name="password" type="password"
                                                            placeholder="请输入您的密码"/><em></em></div>
      <div class="line"><span class="colDark"></span>
        <button class="btn-login">登 录</button>
      </div>
      <p class="textRight">还没注册？<a href="javascript:;" class="colPrimary register">马上注册</a></p>
      <p class="colWarning textCenter"></p>
    </div>
    <!--注册-->
    <div class="rightBox" id="registerBox" style="display: none;">
      <div class="title"><span>注册</span></div>
      <div class="line"><span class="colDark"></span><input name="username" type="text" placeholder="请您输入用户名"/></div>
      <div class="line"><span class="colDark"></span><input name="password" type="password" placeholder="请您输入密码"/></div>
      <div class="line"><span class="colDark"></span><input name="repassword" type="password" placeholder="请您再次输入密码"/></div>
      <div class="line"><span class="colDark"></span>
        <button class="btn-register">注 册</button>
      </div>
      <p class="textRight">已有账号？<a href="javascript:;" class="colPrimary login">马上登录</a>　</p>
      <p class="colWarning textCenter"></p>
    </div>
    {% endif %}

    <div class="rightBox">
      <div class="title"><span>标签云</span></div>
      <ul class="tag-list">
        {%for cate in categories%}
        {%if category == cate.id%}
        <li><a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a></li>
        {%else%}
        <li><a href="/?category={{cate.id}}">{{cate.name}}</a></li>
        {%endif%}
        {% endfor%}
      </ul>
    </div>
  </div>
</main>

<div class="copyright">Copyright © paranoidyang.com 版权所有 | 粤ICP备19028719号</div>
</body>
</html>